<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IdleAvoider.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <IdleAvoider.Properties.Settings>
            <setting name="TimeDefault" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="MouseTask" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CalcTask" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotepadTask" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="F15Task" serializeAs="String">
                <value>True</value>
            </setting>
        </IdleAvoider.Properties.Settings>
    </userSettings>
</configuration>
